<a href="https://colab.research.google.com/github/Srivastava27/collabPython/blob/master/PracticePandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('/content/Ecommerce Purchases')

In [ ]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [ ]:
df.shape

(10000, 14)

In [ ]:
df1=df['Purchase Price']

In [ ]:
df['Purchase Price'].mean
# df1.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0       98.14
1       70.73
2        0.95
3       78.04
4       77.82
        ...
9995    82.21
9996    25.63
9997    83.98
9998    38.84
9999    67.59
Name: Purchase Price, Length: 10000, dtype: float64>

In [ ]:
df['Purchase Price'].min()

0.0

In [ ]:
df['Purchase Price'].max()

99.99

In [ ]:
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [ ]:
sum(df['Language']=='en')

1098

In [ ]:
sum(df['Job']=='Lawyer')

30

In [ ]:
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [ ]:
# sum(df['AM or PM']=='PM')
sum(df['AM or PM']=='AM')

4932

In [ ]:
df.tail()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [ ]:
df[df['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [ ]:
# sum((df['CC Provider']=='American Express')&(df['Purchase Price']>95))
((df['CC Provider']=='American Express')&(df['Purchase Price']>95)).value_counts()

False    9961
True       39
dtype: int64

In [ ]:
df['CC Exp Date'].value_counts()
# df['CC Exp Date']

08/22    108
01/26    105
04/19    105
01/21    104
01/19    103
        ...
12/22     67
11/25     67
10/25     64
08/26     48
08/16     39
Name: CC Exp Date, Length: 121, dtype: int64

In [ ]:
sum(df['CC Exp Date'].apply(lambda date:date[3:])=='25')

1033

In [ ]:
# df['Email']
df['Email'].value_counts()

leekathy@yahoo.com           2
joshua41@hotmail.com         2
christopher29@gmail.com      2
ethomas@hotmail.com          2
brownjohn@hotmail.com        2
                            ..
jamesbarnett@gomez.org       1
hernandezrobert@frank.com    1
lindseywilliams@pratt.com    1
ann28@hotmail.com            1
rachelford@vaughn.com        1
Name: Email, Length: 9954, dtype: int64

In [ ]:
df['Email'].apply(lambda email:email.split('@'))

0                    [pdunlap, yahoo.com]
1                   [anthony41, reed.com]
2       [amymiller, morales-harrison.com]
3          [brent16, olson-robinson.info]
4          [christopherwright, gmail.com]
                      ...
9995            [iscott, wade-garner.com]
9996                [mary85, hotmail.com]
9997                 [tyler16, gmail.com]
9998           [elizabethmoore, reid.net]
9999             [rachelford, vaughn.com]
Name: Email, Length: 10000, dtype: object

In [ ]:
df['Email'].apply(lambda email:email.split('@')[1]).value_counts()

hotmail.com            1638
yahoo.com              1616
gmail.com              1605
smith.com                42
williams.com             37
                       ...
booker.com                1
woods-allen.biz           1
richards-wilson.com       1
morris-thomas.com         1
wade-garner.com           1
Name: Email, Length: 3416, dtype: int64

In [ ]:
sum(df['CC Exp Date'].apply(lambda date:date[3:])=='22')

996

In [ ]:
df['Email'].apply(lambda email:email.split('@')[1]).value_counts()

hotmail.com            1638
yahoo.com              1616
gmail.com              1605
smith.com                42
williams.com             37
                       ...
booker.com                1
woods-allen.biz           1
richards-wilson.com       1
morris-thomas.com         1
wade-garner.com           1
Name: Email, Length: 3416, dtype: int64

In [102]:
df.iloc[2]

Address                              Unit 0065 Box 5052\nDPO AP 27450
Lot                                                             94 vE
AM or PM                                                           PM
Browser Info        Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
Company                                    Simpson, Williams and Pham
Credit Card                                              675957666125
CC Exp Date                                                     08/19
CC Security Code                                                  699
CC Provider                                              JCB 16 digit
Email                                  amymiller@morales-harrison.com
Job                                          Customer service manager
IP Address                                             132.207.160.22
Language                                                           de
Purchase Price                                                   0.95
Name: 2, dtype: object

In [105]:
df.iloc[8]

Address                       2129 Dylan Burg\nNew Michelle, ME 28650
Lot                                                             45 JN
AM or PM                                                           PM
Browser Info        Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...
Company                                             Galloway and Sons
Credit Card                                           180041795790001
CC Exp Date                                                     04/24
CC Security Code                                                  899
CC Provider                                              JCB 16 digit
Email                                            kdavis@rasmussen.com
Job                                                 Financial manager
IP Address                                            146.234.201.229
Language                                                           ru
Purchase Price                                                  59.54
Name: 8, dtype: object

In [109]:
df['Email'].apply(lambda email:email.split('.'))

0                    [pdunlap@yahoo, com]
1                   [anthony41@reed, com]
2       [amymiller@morales-harrison, com]
3          [brent16@olson-robinson, info]
4          [christopherwright@gmail, com]
                      ...
9995            [iscott@wade-garner, com]
9996                [mary85@hotmail, com]
9997                 [tyler16@gmail, com]
9998           [elizabethmoore@reid, net]
9999             [rachelford@vaughn, com]
Name: Email, Length: 10000, dtype: object